<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let appt of appointments">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ appt.doctorName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ appt.qualification }}
          </h6>

          <hr />

          <p><strong>Patient:</strong> {{ appt.patientName }}</p>
          <p><strong>DOB:</strong> {{ appt.patientDob }}</p>
          <p><strong>Gender:</strong> {{ appt.patientGender }}</p>
          <p><strong>Appointment Date:</strong> {{ appt.appointmentDate }}</p>
          <p><strong>Time:</strong> {{ appt.appointmentTime }}</p>
          <p>
            <strong>Status:</strong>
            <span
              [ngClass]="{
                'badge bg-success': appt.appointmentStatus === 'APPROVED',
                'badge bg-warning text-dark':
                  appt.appointmentStatus === 'PENDING',
                'badge bg-danger': appt.appointmentStatus === 'REJECTED'
              }"
            >
              {{ appt.appointmentStatus }}
            </span>
          </p>

          <!-- ✅ Show download button if status is APPROVED -->
          
          <div class="row mt-3" *ngIf="appt.appointmentStatus === 'APPROVED'">
         
            <div class="col-12 col-md-6 mb-3 mb-md-0">

              <button
                class="btn btn-outline-primary w-100"
                (click)="downloadPrescription(appt.appointmentId)"
              >
                <i class="bi bi-download me-2"></i> Prescription
              </button>
            </div>
            <div class="col-12 col-md-6">
              <button
                class="btn btn-outline-primary w-100"
                (click)="viewPrescription(appt.appointmentId)"
              >
                <i class="bi bi-eye me-2"></i> Prescription
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
