<title>Shankhachur 2nd part</title>
<p>পৃথিবীর সবচেয়ে সুন্দর ও রাজকীয় সাপের নাম 'শঙ্খচূড়' বা 'রাজ গোখরা'।
     সবচেয়ে ভয়ংকরও। তাই সাপুড়েদের কাছে এই সাপ সবচেয়ে লোভনীয়।
      কিন্তু তারা জানে, এটি পেতে হলে এর বিষের কথাও ভাবনায় রাখতে হবে।
       ক্ষমতাও ঠিক ওই শঙ্খচূড় সাপের মতোই, আকর্ষণীয় কিন্তু ভয়ংকর। 
       একে পেতে হলে এর ছোবল আর বিষের জন্যও প্রস্তুত থাকতে হয়।
        এটি না মানলে, না জানলে ক্ষমতায় আরোহন করা যায় না।
         শঙ্খচূড় মূলত চন্দ্রগড় রাজ্যের ক্ষমতাকে কেন্দ্র করে অন্নপূর্ণা ও চিত্রলেখা দেবী, সৃজিতা ও বিনয়াদিত্য,
          কৃষ্ণেন্দু মিত্র ও অক্ষয়াদিত্যের ভয়ংকর এক ষড়যন্ত্র ও বিশ্বাসঘাতকতার খেলা।
          যেই খেলায় অরুণাদিত্য, পুষ্পলতা ও শৈলগিরি হয়ে ওঠে প্রেম, ভালোবাসা ও মানবিক অনুভূতির প্রতিমূর্তি।
           যাতে প্রতিফলিত হতে থাকে হৃদয়হরা প্রেম ও বিরহ, রক্তক্ষয়ী যুদ্ধ ও যাতনা, শ্বাসরুদ্ধকর বিভীষিকা ও বীরত্বের গল্পও। 
           তবে এসব ছাপিয়েও শঙ্খচূড় মূলত চলতে চলতে হ্ঠাৎ থমকে দাঁড়িয়ে জীবনের আয়নায় নিজের মুখখানা নতুন করে দেখে নেবার এক মহা আখ্যানও।

</p>
