<nav class="navbar navbar-expand-lg navbar-light bg-light shadow px-4 py-2">
  <a class="navbar-brand text-primary fw-bold" routerLink="/seeker/home">
    <i class="bi bi-person-lines-fill me-2"></i>Job Seeker
  </a>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/seeker/profile">Profile</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/seeker/jobs">Browse Jobs</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/seeker/applications">My Applications</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/seeker/logout">Logout</a></li>
    </ul>
  </div>
</nav>
