<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <ul class="navbar-nav ms-auto">
           <!-- User Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link text-white d-flex align-items-center"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              [src]="'https://i.pravatar.cc/40'"
              class="rounded-circle border border-white"
              alt="User"
              width="36"
              height="36"
            />
            <span class="ms-2 d-none d-md-inline fw-medium">admin</span>
          </a>
        </li>
  </ul>
</nav>
